@model JobPortal.Web.ViewModels.JobPost.JobPostViewModel
    <!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="~/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>@Model.PositionName</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- job post company Start -->
<div class="job-post-company pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Content -->
            <div class="col-xl-7 col-lg-8">
                <div class="job-post-details">
                    <div class="post-details1 mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Description</h4>
                        </div>
                        <p>
                            Develop features and enhancements on existing software products
                        </p>
                        <p>
                            Be one of the first developers on new software projects
                        </p>
                        <p>
                            Being proactive and having self-initiative in solving problems, delivering improvements, contributing to every aspect of the work process
                        </p>
                        <p>
                            Working closely with other team members in a friendly atmosphere
                        </p>
                    </div>
                    <div class="post-details2  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Required Knowledge, Skills, and Abilities</h4>
                        </div>
                        @Html.Raw(Model.JobRequirements)
                    </div>
                    <div class="post-details2  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Education + Experience</h4>
                        </div>
                        @Html.Raw(Model.JobResponsibilities)
                    </div>
                </div>

            </div>
            <!-- Right Content -->
            <div class="col-xl-4 col-lg-4">
                <div class="post-details3  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Job Overview</h4>
                    </div>
                    <ul>
                        <li>Posted date : <span>@Model.ApplicationDate.ToString("dd/MM/yyyy")</span></li>
                        <li>Location : <span>@Model.Company.Location</span></li>
                        <li>Job nature : <span>Full time</span></li>
                        <li>Application date : <span>@Model.StartingDate.ToString("dd/MM/yyyy")</span></li>
                    </ul>
                    <div class="apply-btn2">
                        <a href="#" class="btn">Apply Now</a>
                    </div>
                </div>
                <div class="post-details4  mb-50">
                    <!-- Small Section Tittle -->
                    <div class="small-section-tittle">
                        <h4>Company Information</h4>
                    </div>
                    <span>Colorlib</span>
                    <p>@Model.Company.Description</p>
                    <ul>
                        <li>Name: <span>@Model.Company.Name </span></li>
                        <li>Web : <span> @Model.Company.WebSite</span></li>
                        <li>Email: <span>@Model.Company.Email</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job post company End -->
