@model JobPortal.Web.ViewModels.Opinion.AllOpinionsViewModel
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Opinions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- Job List Area Start -->
<div class="job-listing-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!-- Left content -->
                <div class="col-lg-3">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="All" method="get">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" name="keyword" placeholder='Search Keyword'
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btns" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">
                                    Search
                                </button>
                            </form>
                        </aside>
                    </div>
                </div>
            <!-- Right content -->
            <div class="col-xl-9 col-lg-9 col-md-8">
                <!-- Featured_job_start -->
                <section class="featured-job-area">
                    <div class="container">
                        <!-- single-job-content -->
                        @foreach (var opinion in Model.Opinions)
                        {
                            <div class="single-job-items mb-30">
                                <div class="job-items">
                                    <div class="company-img">
                                        <img src="@opinion.Company.Logo" width="85" height="85" alt="">
                                    </div>
                                    <div class="job-tittle job-tittle2">
                                        <a href="#">
                                            <h4>@opinion.Company.Name</h4>
                                        </a>
                                        <ul>
                                            <li>From: @opinion.Worker.FirstName @opinion.Worker.LastName </li>
                                            <li>@opinion.Text</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Job List Area End -->
<!--Pagination Start  -->
@if (Model.PagesCount > 0)
{
    <div class="blog-pagination justify-content-center d-flex">
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="All" asp-route-page="@Model.PreviousPage" class="page-link" aria-label="Previous">
                    <i class="ti-angle-left"></i>
                </a>
            </li>
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item active">
                        <a asp-action="All" asp-route-page="@i" class="page-link">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-action="All" asp-route-page="@i" class="page-link">@i</a>
                    </li>
                }
            }
            <li>
                <a asp-action="All" asp-route-page="@Model.NextPage" class="page-link" aria-label="Next">
                    <i class="ti-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
}
<!--Pagination End  -->
